{% extends "layout.html" %}

{% block main %}
    <div class="container w-75 mx-auto p-1">
        <h2 class="mb-4">Lesson 1: Welcome to the Guitar Journal</h2>
        <section class="lesson-section">
            <h3>Introduction</h3>
            <p>
                The guitar journal is an experimental foray into musical teaching along with web development. Through this course 
                , I hope to guide aspiring guitarists to move from the point of being in a musical rut to attaining finger 
                dexterity, theoretical knowhow and valued experience. Away with the days of being a guitarist but stuck to noodling 
                the same comfortable tunes we know
            </p>
            <p>
                This course is still in experimental stages, but I am thinking of dividing it up into lessons based on a timeline, 
                instead of splitting things up according to subject. In some way, this will be a journal of sorts, documenting what I 
                practised, the resources I had available, the problems I encountered, and an attempt at measuring the progress I have made.
                Hopefully, this knowledge can bookmark my personal progess, while also providing valuable insight to learners just like me
            </p>
        </section>
        <section class="lesson-section">
            <h3>Getting Started</h3>
            <p>For the first lesson we are going to go over basic requirements and getting the tools that we are going to be using on 
                a regular basis. We are also going to go over guitar acquisition, the necessary tools and gadgets to make guitar playing 
                easier, and the places to get these items(physical destinations in Nairobi, and best global online stores)
            </p>
            <p></p>
        </section>
    </div>
{% endblock %}